// Typography
@import url('//fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

// Colours
$black: #1e1e1e;
$grey: #6D6F71;
$white: #fff;
$red: #dc3545;
$wilmshurst: #39b54a;


:focus {
  outline: none;
}